@page
@model ATCMovieBlog.Pages.Movies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Overview)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Overview)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Movie?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
    <p>
        @foreach (var cast in Model.Cast)
        {
        <p>@cast.FirstName @cast.LastName</p>
    }


        </p>
    </div>
    @if (Model.Root != null)
    {
        <h1>API</h1>
        <div class="card" style="width : 18rem;">
            <img class="card-img-top" src=@($"https://image.tmdb.org/t/p/w200/{Model.Root.poster_path}") alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">@Model.Root.title</h5>
                <p class="card-text">@Model.Root.release_date </p>
                <p> @Model.Root.overview</p>
                @*<p> @Model.Root.popularity</p>*@
            </div>
        </div>
    }

